:root {
  --blue: #2196f3;
  --white: #ffffff;
  --black: #212121;
  --black-dark: #757575;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}
html {
  -webkit-text-size-adjust: 100%;
}
.container {
  width: 1200px;
}
/*our-website-section*/
.our-website {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--black);
}
/*header-section*/
.header-section {
  height: 80px;
  display: inline-flex;
  flex-direction: row;
  border: var(--blue);
  align-items: center;
}
/*logo-section-header-footer*/
.logo-main {
  padding-left: 5px;
  padding-top: 10px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
.logo-main__footer-logo,
.logo-main__header-logo {
  color: #2196f3;
}
/*header-section-left-block*/
.header-section__left-block {
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  margin-left: 50px;
}
.header-section__list-main {
  display: inline-flex;
  flex-direction: row;
}
.header-section__list {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  vertical-align: top;
}
.list-item1,
.list-item2,
.list-item3 {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 10px;
  padding: 20px;
}
.menu-link:hover {
  cursor: pointer;
  color: var(--blue);
}
.menu-link:focus {
  color: var(--blue);
}
.menu-link {
  text-decoration: none;
  color: var(--black);
}
/*header-section-right-side*/
.header-section__right-block {
  align-items: baseline;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 200px;
}
/*header-section-left-side*/

/*hero-section*/
.hero-section {
  height: 600px;
  top: 80px;
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
/*hero section button*/
.hero-section button {
  font-size: 16px;
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  border: solid var(--black-dark);
  cursor: pointer;
  color: #ffffff;
  background-color: var(--blue);
}
.hero-section button:hover {
  background-color: var(--white);
  border-radius: 1px 1px 1px 1px;
  color: var(--blue);
}
.hero-section button:focus {
  background-color: var(--white);
  border-radius: 1px 1px 1px 1px;
  color: var(--blue);
}
.main-content {
  font-family: var(--main-font);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}
.main-content__about-us th {
  font-weight: 700;
}
.main-content__about-us td {
  color: var(--black-dark);
}
.main-content__what-we-do h2 {
  text-align: center;
  font-size: 36px;
  padding: 40px;
}
.main-content__our-team {
  align-items: center;
  padding-left: 50px;
  display: inline-flex;
}
.main-content__our-team span {
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
}
.main-content__our-team p {
  color: var(--black-dark);
}
/*portofolio-website*/
.portofolio-website {
  font-family: var(--main-font);
  color: var(--black);
  font-weight: 500;
}
/*portofolio-section*/
.portofolio-content {
  font-size: 16px;
  text-align: center;
}
.portofolio-content button {
  cursor: pointer;
}
.portofolio-content__menu-list li {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}
.menu-portofolio:hover {
  background-color: var(--blue);
  color: var(--white);
}
.menu-portofolio:focus {
  color: var(--white);
  background-color: var(--blue);
}
.menu-list-portofolio:hover {
  color: var(--white);
  border-color: var(--blue);
}
.portofolio-content__box-list p {
  font-size: 16px;
  color: var(--black-dark);
}
.portofolio-content__box-list h2 {
  font-weight: 700;
  font-size: 18px;
}
/*footer-section*/
.basement-section {
  padding-left: 50px;
  background-color: #2f303a;
  width: 1600px;
  height: 251px;
  top: 2097px;
  gap: 0px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white);
}
/*basement-logo-section*/
.basement-logo {
  color: var(--white);
}
.footer-list {
  list-style: none;
}
.footer-list__item-mail,
.footer-list__item-phone {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
